<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>

</script>
<style>
body{
background-image:url('/images/nameCard.png');
background-size : 100% auto;
background-repeat : no-repeat;
}
h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color:white;
  font-size: 60px;
  font-weight: normal;
}
h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color:white;
  font-size: 55px;
  font-weight: lighter;
}
h4 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color:white;
  font-size: 40px;
  font-weight: lighter;
}
</style>
</head>
<body>
<h2 style="margin-top: 400px;margin-bottom:0px;"><%=result.company%></h2>
<h3 style="margin-top: 80px;margin-bottom:0px;"><%=result.name%></h3>
<h4 style="margin-top: 80px;margin-bottom:0px;"><%=result.position%></h4>
<h4 style="margin-top: 8px;margin-bottom:0px;"><%=result.department%></h4>
<h4 style="margin-top: 80px;margin-bottom:0px;"><%=result.phone%></h4>
<h4 style="margin-top: 8px;margin-bottom:0px;"><%=result.email%></h4>
</body>
</html>